Scraper/IA/IA.xml linguist-vendored
Scraper/IBEUNESCO/IBEUNESCO_1.xml linguist-vendored
Scraper/IBEUNESCO/IBEUNESCO_2.xml linguist-vendored
Scraper/IBEUNESCO/IBEUNESCO_3.xml linguist-vendored
Scraper/TCP/TCP_EEBO.html linguist-vendored
Scraper/TCP/TCP_ECCO.html linguist-vendored
Scraper/TCP/TCP_EVANS.html linguist-vendored
*.txt filter=lfs diff=lfs merge=lfs -text